# Global
*/.env

# Build results (monorepo)
**/bin/
**/obj/


# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
**/.env
# JetBrains Rider
.idea/

# Build configuration
*.props
*.targets

# macOS
.DS_Store

# Linux
Thumbs.db

# Logs
*.log
logs/

# NuGet packages (for top-level)
packages/

# Test results
TestResults/

# Azure
AzurePackages/
*.Publish.xml

# .NET Core
*.dll
*.exe
*.pdb
*.deps.json
*.runtimeconfig.json

# superpowers
/docs/superpowers/
.superpowers/

dotnet/